.collection-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;

    .collection-group-title{
        font-size: 2vw;
        margin-bottom: 2vh;
        text-align: center;
        background-color:#888888;
        padding: 1vh 0.5vw;
    }

    .collection-group-items{
        display: flex;
        justify-content: space-between;
    }
}