.category-page{
    display:flex;
    flex-direction: column;

    .title{
        font-size: 3vw;
        margin: 0 auto 3vh;
    }

    .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.2vw;

        &.collection-item{
            border-bottom: 3vw;
        }

    }
}