.checkout-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 25vh;
  border-bottom: 0.2vh solid darkgrey;
  padding: 1.5vh 0;
  font-size: 2.5vh;
  align-items: center;

  .image-container {
    width: 18%;
    padding-right: 2vh;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    padding-left: 0.4vw;
    width: 20%;
  }

  .quantity {
    &:hover{
      font-size: larger;
    }
    display: flex;
    .arrow{
      cursor: pointer;
    }
    .value{
      margin: 0 1vw;
    }
  }

  .remove-button {
    width: 7%;
    padding: 0 1vw;
    cursor: pointer;
    &:hover{
      font-size: larger;
      background-color: rgb(241, 241, 197);
      border-radius: 50%;
    }
  }
}
