.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;

    .logo{
        
        padding: 1vh 0.8vw;
        text-decoration: none;

        img{
            height: 100%;
            width: 8vh;
            border-radius: 50%;
            border: 1vh groove rgb(214, 116, 121);
        } 
    }

    .options{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option{
            padding:1vh 1vw;
            font-size: 1.2rem;
        }
    }
}